@model SuMejorPeso.Models.Member

@{
    ViewData["Title"] = "Registrar Miembro";
}

<h1>Registrar nuevo miembro</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="lastName"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="dni"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="birthdate"></label>
                <input asp-for="birthdate" class="form-control" type="date" />
                <span asp-validation-for="birthdate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="gender"></label>
                <select asp-for="gender" class="form-control">
                    <option value="">Seleccione...</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option>Otro</option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="phone"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="email"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="direction"></label>
                <input asp-for="direction" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="membershipId" class="control-label">Tipo de Membresía</label>
                <select asp-for="membershipId" class="form-control" asp-items="ViewBag.TypeMembreshipList">
                    <option value="">-- Seleccionar (Opcional) --</option>
                </select>
                <span asp-validation-for="membershipId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="note"></label>
                <textarea asp-for="note" class="form-control"></textarea>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}