@model SuMejorPeso.Models.Member

@{
    ViewData["Title"] = "Reactivar Miembro";
}

<h1 class="margen-barra">Reactivar Miembro</h1>

<h4>El DNI que ingresó corresponde a un miembro inactivo: @Model.name @Model.lastName.</h4>
<p>
    ¿Desea reactivarlo y usar sus datos existentes?
</p>

<form asp-action="Reactivate" method="post">
    <input type="hidden" asp-for="id" />
    <button type="submit" class="btn btn-success">Sí, Reactivar</button>
    <a asp-action="Index" class="btn btn-secondary">No, Volver</a>
</form>