@model SuMejorPeso.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_LayoutLogin"; // (Usaremos un Layout simple sin barra de navegación)
}

<div class="row justify-content-center">
                <h1 class="text-center h1-style">SuMejorPeso</h1>

    <div class="col-md-4 fondo-div">
        <section>
            <form asp-action="Login" method="post">
                <h2 class="text-inicio">Iniciar Sesión</h2>
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-input ">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="input-style" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                
                <div class="form-input ">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="input-style" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                <div>
                    <button type"submit" class=" btn btn-lg  form-button">Entrar</button>
                </div>
                
                <div class="text-center mt-3">
                    <p>
                        <a asp-action="Register">Crear una cuenta nueva</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}