@{
    ViewData["Title"] = "Completa tu registro";
}

<h1 class="margen-barra">¡Bienvenido!</h1>
<p>
    Tu cuenta de usuario se ha creado con éxito.
    El siguiente paso es adquirir una membresía para convertirte en un miembro activo del gimnasio.
</p>
<hr />
<p>
    <a class="btn btn-primary" asp-controller="Store" asp-action="Index">
        Ver Planes y Comprar Membresía
    </a>
</p>