@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center mt-4">
    
    <a class="btn btn-primary btn-lg" asp-controller="Members" asp-action="Index">
        Ir a la sección de Miembros
    </a>
    
    <a class="btn btn-secondary btn-lg" asp-controller="Branches" asp-action="Index">
        Ir a la sección de Sedes
    </a>
    <a class="btn btn-secondary btn-lg" asp-controller="Users" asp-action="Index">
        Ir a la sección de Users
    </a>
    <a class="btn btn-secondary btn-lg" asp-controller="TypeMembreships" asp-action="Index">
        Ir a la sección de TypeMembreships
    </a>
    <a class="btn btn-secondary btn-lg" asp-controller="Coaches" asp-action="Index">
        Ir a la sección de Coaches
    </a>
    <a class="btn btn-secondary btn-lg" asp-controller="Specialties" asp-action="Index">
        Ir a la sección de Specialties
    </a>
</div>