@model SuMejorPeso.Models.Branch

@{
    ViewData["Title"] = "Editar Sede";
}

<hr />
<div class="row fondo-div margen-barra">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <fieldset>
                <legend>Editar sede</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="active" />
                <div class="form-input">
                    <label asp-for="name" class="form-label">Nombre</label>
                    <input asp-for="name" class="input-style" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="form-input">
                    <label asp-for="address" class="form-label">Dirección</label>
                    <input asp-for="address" class="input-style" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                
                <div class="form-input">
                    <label asp-for="phone" class="form-label">Teléfono</label>
                    <input asp-for="phone" class="input-style" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="form-group d-flex1">
                <button type="submit" class="btn btn2">Guardar cambios</button>
                <a asp-action="Index" class="btn btn2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}