@model SuMejorPeso.Models.Branch

@{
    ViewData["Title"] = "Reactivar Sede";
}

<h1>Reactivar Sede</h1>

<h4>El nombre que ingresó corresponde a una sede inactiva: @Model.name.</h4>
<p>
    ¿Desea reactivarla y usar sus datos existentes?
</p>
<hr />
<form asp-action="Reactivate" method="post">
    <input type="hidden" asp-for="id" />
    <button type="submit" class="btn btn-success">Sí, Reactivar</button>
    <a asp-action="Index" class="btn btn-secondary">No, Volver</a>
</form>