@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html
{
  font-size: 14px;
  position: relative;
  min-height: 100%;
    overflow-x: hidden !important;

}

body {
  margin-bottom: 60px;
  background-image: url("gym_fondo.webp");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
  background-attachment: fixed;
  overflow-x: hidden !important;
}


.body_overlay {
  position: absolute;  
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  /*background: linear-gradient(  transparent , #000b 85% ) ;*/
  background-color: #dca5;
  z-index: 1;
}

.delante,  .dropdown-menu{
  position: relative;
}

.footer, .delante
{
  z-index: 3 !important;
}



.dropdown-menu
{
  z-index: 400 !important;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* boton para desplegar barra*/
.navbar-toggler {
  background-color: #ddd;
  margin-bottom: 1em;
}



.navbar {
  background-color:  #222 !important;
  border-bottom: solid 2px #dc2 !important;
  padding: 1em;
  position: fixed !important;
  top: 0 !important;
  z-index: 4;
  left: 0;
  width: 100%;
  margin-bottom: 200px;
}



.navbar-nav
{
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
   flex: 1 1 space-between !important; /* permite encogimiento y expansi贸n */
  min-width: 0; 
  
}


.navbar-brand {
  color: #eee !important;
  margin-right: 3em;
  margin-bottom: 1em;
}


.sidebar-button {
  text-align: center;
}



/* estilo de los links de la navbar*/
.nav-link, .btn {  
  color: #eee;
  letter-spacing: 3px;
  text-align: center;
  padding: 0.7em 4em;
  background-color: #323232;
  font-family: tahoma;

  border-radius: 0;
  transition: border 0.2s, border-radius 0.3s,
  background-color 0.24s;
}


.btn{
  padding: 0.7em 1em;
}


.nav-link:hover {
  outline: solid 1px #dc2;
  background-color: #000;
  color: #dc2 !important;
  border-radius: 15px;
}


.nav-link:focus {
  outline: solid 1px #dc2;
  background-color: #000;
  color: #dc2 !important;
  border-radius: 15px;
  box-shadow: none;
}


.btn:hover {
  outline: solid 1px #dc2;
  background-color: #000;
  color: #dc2 !important;
  border-radius: 15px;
}

.btn:focus {
  outline: solid 1px #dc2;
  background-color: #000;
  color: #dc2 !important;
  border-radius: 15px;
  box-shadow: none;
}

.btn:active{
  box-shadow: none !important;
  background-color: #000 !important;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 1em;
 
  border-top: solid  1px #dc2 !important;
 
  color: #eee !important;
}



/*

/* Estilos de formularioss  */
.fondo-div, .fondo-div-completo
{
  display: flex;
  background-color: #2a2a2a;
  margin: 2em 0;
  padding: 3em;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  justify-content: center;
}

.fondo-div-completo{
  max-width: 800px;
}


.div-create{
  display: flex;
  justify-content: flex-start; 
  max-width: 100%;
}


/*  En pantallas muy chicas (celulares) */
@media (max-width: 576px) {
  .fondo-div {
    width: 90%;
    margin: 0.5em;
    padding: 1em;
    border-radius: 15px;

  }

  .div-create{
    position: relative;
    justify-content: center;

  }
}

/*
@media (max-width: 991px) {
  main
  {
    justify-content: center;
  }
}



/* Estilos de titulo de form  */

.margen-barra{
  margin-top: 150px;
}
.text-inicio{
  color: #ddd;
  letter-spacing: 3px;
  text-align: center;
  padding: 0.7em;
  border-bottom: solid 1px #dc2;
  margin-bottom: 1em;
}

.form-button{
  width: 100%;
}

/* Estilos de input  */

.form-input{
  margin-bottom: 1.2em;
  background-color: transparent;
}

.input-style{
  width: 100%;
  background-color: #323232;
  padding: 0.4em;
  border: none;
  border-top: solid 1px #ddd;
  color: #ddd;
  margin: 3px;
  font-family: inherit;
  outline-offset: 4px;
  transition:  outline-offset 0.34s, background-color 0.34s;
 
}


.input-style:focus
{
  outline: solid 1px #ddd;
  outline-offset: 0;
  border-top: solid 1px transparent;
  background-color: #3a3a3a;
  color: #ddd;
}

.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
.input-style:-webkit-autofill:focus,
.input-style:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #333 inset !important;
  box-shadow: 0 0 0 1000px #333 inset !important;
  -webkit-text-fill-color: #ddd !important;        /* texto */
  color: #ddd !important;                          
  transition: background-color 5000s ease-in-out 0s, color 0s linear 0s;
  caret-color: #ddd !important;    
}

.input-style:-moz-autofill {
  box-shadow: 0 0 0 1000px #333 inset !important;
  color: #ddd !important;
  -moz-text-fill-color: #ddd !important; /* puede ayudar en FF  ddd */
}




.form-label
{
  margin-left: 0.5em;
  color: #ddd;
  line-height: 0.1;
}

.h1-style{
  color: #ddd;
  letter-spacing: 3px;
  font-family: sans-serif;
  border-bottom: solid 1px #dc2;
  background-color: #222;
}

fieldset
{
  padding: 10px 30px;
  border: 1px solid #dc2;
  border-radius: 15px;
  border-top-right-radius: 0;
  margin-bottom: 2em;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  /* Restablece la posici贸n t铆pica del legend */
  float: none;
  margin-left: 10px;
  color: #ddd;
  width: 10em !important;
  justify-content: center;
}

.text-muted
{
  color: #ddd !important;
}


.d-flex1{
  display: flex;
  flex-wrap: wrap;
  
}

.btn1{
  margin: 0.5em;
  flex-grow: 3;
}

.btn2{
  flex-grow: 2;
  margin: 0.5em;
}
.btn3{
  flex-grow: 5;
  margin: 0.5em;
}


.table-striped{
  border: solid 3px #222;
  table-layout: fixed;
  width: 100%  !important;
}


td{
  color: #222 !important;
  background-color: #ddd !important;
  border-right: solid 1px #222 ;
  border-bottom: solid 1px #222;
}

th{
  background-color: #111 !important;
  color: #ddd !important;
}
.table-striped th,
.table-striped td {
  word-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.table-striped td:last-child {
  overflow: visible !important;
}


/* boton dropdown*/

.dropdown {
  position: relative;
 /* Asegura que el men煤 se posicione respecto al bot贸n */
}

/* Estado inicial: oculto, desplazado hacia arriba */
.dropdown-menu {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  border: 0;
  background-color: #444;
  min-width: 100%; /* Hace que el ancho sea igual al del bot贸n */
  width: 100%;      /* Lo fuerza incluso si el contenido es m谩s chico */
  transform: translateY(-40px);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.25s ease;
  display: block; /* necesario para que el transform funcione correctamente */
  visibility: hidden;
}

.dropdown-menu-table{

  position: absolute; 
 
  z-index: 999 !important;       
  display: block;     
}

/* Cuando se muestra el men煤 */
.dropdown-menu.show {
  transform: translateY(-16px);
  opacity: 1;
  visibility: visible;
}


.dropdown-item
{
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 1px;
  white-space: normal;  
  word-wrap: break-word; 
  text-overflow: ellipsis; 
  overflow-wrap: anywhere;
}


.dropdown-item:hover, 
.dropdown-item:focus{
  border-radius: 7px;
}


.dropdown-menu-table.show {
  transform: translateY(27px) !important;
}


.dropdown-toggle{
  position: relative;
  z-index: 401 !important;
  letter-spacing: 2px;
}

.toggle-table{
  position: relative;
  z-index: 401;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #111;
}

.toggle-table.show{
  z-index: 1000 !important;
}


.dropdown-toggle.show {
  box-shadow: none !important;
  outline: none !important;
  color: #ddd !important;
  background-color: #323232 !important;
  border-bottom-left-radius: 0px !important;
  
  border-bottom-right-radius: 0px !important;
}

/* HACIA ARRIBA  */
.dropdown-menu-table[data-popper-placement^="top"] {
  padding-top: 0 !important;
  padding-bottom: 15px !important;
    opacity: 0;
  transform: translateY(1px) !important;
  opacity: 0 !important; /* parte de abajo */
  transition: transform 0.25s ease, opacity 0.25s ease;
}

/* Cuando se muestra hacia arriba */
.dropdown-menu-table[data-popper-placement^="top"].show {
  opacity: 1 !important;
  transform: translateY(-27px) !important;
  
}

.dropdown:has(.dropdown-menu-table[data-popper-placement^="top"].show) > .toggle-table {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

main{
  margin-bottom: 150px !important;
  justify-content: center;
}

@media (max-width: 989px)
{
  .toggle-table{
  padding-right: 10px !important;
  padding-left: 10px !important;
    }
  main{
    min-width: 80vw;
  }
  .container{
    min-width: 90vw;
  }
  
} 

@media (max-width: 930px)
{
  table{
    font-size: 13px;
  }
  .toggle-table{
    padding-right: 3px !important;
    padding-left: 3px !important;
    font-size: 10px;
  }
  .dropdown-menu-table.show {
  transform: translateY(15px) !important;
  }
  .dropdown-menu-table[data-popper-placement^="top"].show {
  opacity: 1 !important;
  transform: translateY(-15px) !important;
  }

} 

@media (max-width: 768px)
{
  table{
    font-size: 12px;
  }
  th{
    font: 10px;
    font-weight: none !important;
  }
  td, th{
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  .toggle-table{
    padding-right: 3px !important;
    padding-left: 3px !important;
    font-size: 9px;
  } 
    .dropdown-menu-table.show {
  transform: translateY(11px) !important;
  } 

  .dropdown-menu-table[data-popper-placement^="top"].show {
  opacity: 1 !important;
  transform: translateY(-13px) !important;
  }
  .dropdown-item
  {
    font-size: 11px !important;
    padding-left: 3px;
    padding-right: 3px;
  }

  .nav-link, .exit-button{
    font-size: 12px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    letter-spacing: 1px;
  }

}

@media (max-width: 576px)
{

  .toggle-table{
    padding-right: 3px !important;
    padding-left: 3px !important;
    font-size: 7px;
  }
    .dropdown-menu-table.show {
  transform: translateY(5px) !important;
  } 
  .dropdown-menu-table[data-popper-placement^="top"].show {
  opacity: 1 !important;
  transform: translateY(-7px) !important;
  }
    .dropdown-item
  {
    font-size: 9px !important;
  }
}


