@model SuMejorPeso.Models.Specialty

@{
    ViewData["Title"] = "Crear Especialidad";
}

<hr />
<div class="row fondo-div  margen-barra">
    <div class="col-md-12">
        <form asp-action="Create" method="post">

            <fieldset>
                <legend>Registrar nueva Especialidad</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-input">
                    <label asp-for="name" class="form-label">Nombre</label>
                    <input asp-for="name" class="input-style" placeholder="Ej: Yoga, CrossFit, Funcional..." />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="form-group d-flex1">
                <button type="submit" class="btn btn2">Guardar</button>
                <a asp-action="Index" class="btn btn2">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}