@model SuMejorPeso.Models.Specialty

@{
    ViewData["Title"] = "Reactivar Especialidad";
}

<h1>Reactivar Especialidad</h1>

<h4>El nombre que ingresó corresponde a una especialidad inactiva: @Model.name.</h4>
<p>
    ¿Desea reactivarla para que pueda ser asignada a nuevos profesores?
</p>
<hr />
<form asp-action="Reactivate" method="post">
    <input type="hidden" asp-for="id" />
    <button type="submit" class="btn btn-success">Sí, Reactivar</button>
    <a asp-action="Index" class="btn btn-secondary">No, Volver</a>
</form>